
<!-- <div class="card text-center m-3">
  <h5 class="card-header">Simple POST request with response type &lt;any&gt;</h5>
  <div class="card-body" >
      Post Id: {{postId}}
  </div>
</div> -->
<!-- 
<div class="container">
<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
  >
</div>
<ul *ngFor="let data of results | filter:searchText ">
  <li>{{data}}</li>
</ul>
</div> -->
<!-- <div>
  <input type="text" [(ngModel)]="term">
  <div *ngFor = "let item of results |filter:term" >
    <p>
      {{item}}
    </p>
  </div>

</div>   -->
<!-- <div class="row" >
  <div class="row no-padding">
    <div class="col-sm-4">

    <input class="form-control" type="text" [(ngModel)]="val" (change)="setTwoNumberDecimal($event)"
    >
  
</div>

<div class="col-sm-4">
  
   22
 

</div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>